
#content{
    min-height:74vh;
    background-color:#FCF6F5FF;
    padding: 7vh 10vw 7vh 10vw;
    margin:0px;
    text-align:left;
    display:flex;
    align-items:center;
    justify-content:flex-start;
    flex-direction:column;
    flex-wrap:wrap;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#content h1{
    font-size:20px;
    font-weight:500;
    color:rgb(72, 70, 70);
    margin-bottom:2px;
}

#content hr{
    width:24%;
    height:1px;
    background-color:#ee6730;
    padding:0px;
    margin:0px;
}