.header{
    height:7vh;
    background-color:#990011FF;
    margin:0px;
    padding:0px;
    color:white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align:center;
}
.header h1{
    margin:0px;
    padding:0px;
    height:100%;
    padding-top:5px;
}